@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.head_nav_wrap {
    background-color: $white;
    color: #6b7280;
    padding: 17px 0;
    border-bottom: 1px solid #e5e7eb;
    .container {
        display: flex;
        align-items: center;
    }
    .head_navbar {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .user_account {
        display: flex;

        align-items: center;
        gap: 10px;
        .user_info {
            display: flex;
            flex-direction: column;
            gap: 2px;
            @include font(14, 16, 400);
            color: #6b7280;
            text-align: end;
        }
        .user_name {
            color: #111827;
            font-weight: 600;
        }
    }
    .logout_btn {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $clr-primary;
        @include font(14, 16, 400);
        .ico {
            @include font(18, 16);
        }
    }
    .navbar_end {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.head_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar_brand a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .navbar_links {
        list-style: none;
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
        @include font(16, 20, 400);
        li {
            a {
                text-decoration: none;
                padding: 5px 0;
                color: #6b7280;
            }
            &.active {
                a {
                    position: relative;
                    color: $clr-primary;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        height: 2px;
                        background: $clr-primary;
                        z-index: 0;
                        border-radius: 2px;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
