@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.head_nav_wrap {
    background-color: $white;
    color: #6b7280;
    padding: 17px 0;
    .container {
        display: flex;
        align-items: center;
    }
    .head_navbar {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
}

.head_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar_brand a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .navbar_links {
        list-style: none;
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
        @include font(16, 20, 400);
        li {
            a {
                text-decoration: none;
                padding: 5px 0;
                color: #6b7280;
            }
            &.active {
                a {
                    position: relative;
                    color: $clr-primary;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        height: 2px;
                        background: $clr-primary;
                        z-index: 0;
                        border-radius: 2px;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
