@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.checkbox_input {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
  }

  // Box.
  & + label:before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: white;
    border: 4px solid #000;
    border-radius: 4px;
  }

  // Box checked
  &:checked + label:before {
    background: $clr-primary;
    border-color: $clr-primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "\e90d";
    font-family: "icomoon";
    font-size: 12px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
}
