@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.switch_wrap{

  display: flex;
  justify-content: end;

  input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 36px;
	height: 20px;
	background: #E5E7EB;
	display: block;
	border-radius: 12px;
	position: relative;
  margin-bottom: 0; 
  padding-left: 0;
}

label:after {
	content: '';
	position: absolute;
	top: 4.5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #6B7280;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: $clr-primary;
  &:after {
    background: $white;
  }
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}


}