@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.all_product_table {
  overflow-x: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    @include font(14, 18);
    th,
    td {
      &:first-child {
        width: 51px;
      }
      &:nth-child(2) {
        min-width: auto;
        @media (min-width: $xxl) {
          min-width: 403px;
        }
      }
      &:nth-child(3) {
        min-width: 111px;
        @media (min-width: $xxl) {
          min-width: 203px;
        }
      }
      &:nth-child(4) {
        min-width: 152px;
        @media (min-width: $xxl) {
          min-width: 461px;
        }
      }
      &:last-child {
        min-width: unset;
        @media (min-width: $xxl) {
          min-width: 111px;
        }
      }
      .ico {
        &.ico-tool-icon {
          font-size: 16px;
          line-height: 10px;
          display: inline-block;
          margin-left: 6px;
          @media (min-width: $md) {
            font-size: 22px;
          }
        }
      }
    }

    th {
      padding: 4px 5px;
      border-bottom: 1px solid #e5e7eb;
      color: $clr-title;
      &:last-child {
        white-space: nowrap;
      }
    }

    td {
      padding: 16px 5px;
      color: #6b7280;
      border-bottom: 1px solid #e5e7eb;
      font-weight: 500;
      &:nth-child(3) {
        @include font(16, 22);
        color: #111827;
        @media (min-width: $md) {
          @include font(18, 22);
        }
      }

      .switch_wrap {
        margin-left: 10px;
      }
    }
    .product_dec {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #111827;
      .product_img {
        width: 51px;
        height: 51px;
        border-radius: 8px;
        overflow: hidden;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product_txt {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .competitor_btn {
      display: flex;
      align-items: center;
      background: transparent;
      border: 0;
      color: $clr-primary;
      @include font(14, 18, 600);
      gap: 9px;
    }
  }
}
.added_competitors{
  display: flex;
  align-items: center;
  gap: 10px;
  a{
    color: $clr-title;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 700;
  }
}
.pagination_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;  
  margin-top: 32px;
  margin-bottom: 8px;
  .pagination {
    padding: 10px 10px;
    background: #F9F9F9;
    border-radius: 6px;
    display: flex;
    align-items: end;
    @include font(16,20);
    button {
      padding: 8px 12px;
      border: 1px solid transparent;
      background: transparent;
      color: #6B7280;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.2s, color 0.2s;
  

      &:hover:not(:disabled) {
        background: #f3f4f6;
      }
      &.btn_prev,
      &.btn_next {
            display: flex;
      align-items: center;
      gap: 10px;
      color: $clr-primary;
      }

      &.active {
        background: transparent;
        color: $clr-primary;
        border-color: $clr-primary;
      }

      &:disabled {
        // opacity: 0.5;
        cursor: not-allowed;
          color: #6B7280;
      }
    }
  }
}
