@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.all_product_table {
  overflow-x: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    @include font(14, 18);
    th,
    td {
      &:first-child {
        width: 51px;
      }
      &:nth-child(2) {
        min-width: auto;
        @media (min-width: $xxl) {
          min-width: 403px;
        }
      }
      &:nth-child(3) {
        min-width: 111px;
        @media (min-width: $xxl) {
          min-width: 203px;
        }
      }
      &:nth-child(4) {
        min-width: 152px;
        @media (min-width: $xxl) {
          min-width: 461px;
        }
      }
      &:last-child {
        min-width: unset;
        @media (min-width: $xxl) {
          min-width: 111px;
        }
      }
      .ico {
        &.ico-tool-icon {
          font-size: 16px;
          line-height: 10px;
          display: inline-block;
          margin-left: 6px;
          @media (min-width: $md) {
            font-size: 22px;
          }
        }
      }
    }

    th {
      padding: 4px 5px;
      border-bottom: 1px solid #e5e7eb;
      color: $clr-title;
      &:last-child {
        white-space: nowrap;
      }
    }

    td {
      padding: 16px 5px;
      color: #6b7280;
      border-bottom: 1px solid #e5e7eb;
      font-weight: 500;
      &:nth-child(3) {
        @include font(16, 22);
        color: #111827;
        @media(min-width:$md){
              @include font(18, 22);

          }
      }

      .switch_wrap {
        margin-left: 10px;
      }
    }
    .product_dec {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #111827;
      .product_img {
        width: 51px;
        height: 51px;
        border-radius: 8px;
        overflow: hidden;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product_txt {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .competitor_btn {
      display: flex;
      align-items: center;
      color: $clr-primary;
      @include font(14, 18, 600);
      gap: 9px;
    }
  }
}
