@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;
// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
.form_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	gap: 0 20px;
	.form-group {
		width: 100%;
		margin-bottom: 16px;
		@media (min-width: $md) {
			margin-bottom: 30px;
			width: calc(50% - 10px);
		}
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
.form_control,
//input[type='url'],
// input[type='date'],
textarea {
	height: 41px;
	// border:1px solid $clr-gray4;
	@include font(14, 18, 400);
	padding: 12px 16px;
	width: 100%;
	border-radius: 8px;
	background: #fff;
	color: #6b7280;
	box-shadow: none;
	outline: none;
	border: 1px solid #e5e7eb;

	&:focus {
		outline: 0;
		box-shadow: none;
		//border-color: $clr-sky-blue;
	}

	// &:hover {

	// }

	@include placeholder {
		color: $placeholder-color;
	}
}

// select {
// 	-webkit-border-radius: 0;
// }

textarea.form_control {
	resize: none;
	vertical-align: top;
	border-width: 1px;
	padding: 9px 16px;
	min-height: 150px;
	margin-top: 0px;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}
.form-group {
	&:not(:last-child) {
		margin-bottom: 16px;
		@media (min-width: $md) {
			margin-bottom: 22px;
		}
	}
}

.form_control {
	padding: 12px 16px;
	border-radius: 8px;
	font-size: 14px;
	line-height: 18px;
	color: #6b7280;
	border: 1px solid #e5e7eb;
	background: #fff;
}

.label,
label {
	@include font(16, 22);
	margin-bottom: 5px;
	display: block;
	padding-left: 5px;
	@media (min-width: $md) {
		@include font(18, 24);
	}
}

.filter_search {
	position: relative;
	width: 100%;
	.form_control {
		padding-left: 48px;
	}
	&:before {
		content: "\e902";
		font-family: "icomoon";
		position: absolute;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
		color: #6b7280;
		font-size: 18px;
		line-height: 19px;
		font-weight: 400;
		user-select: none;
		pointer-events: none;
	}
}
