@use "../base/variables" as *;
@use "../base/mixins" as *;
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font-sans-serif;
	font-weight: 600;
	display: block;
	margin: 0 0 20px;
	color: $headings-color;
	@media (min-width: $lg) {
		margin: 0 0 34px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	@include font(30, 40);
	@media (min-width: $lg) {
		@include font(38, 48);
	}
	@media (min-width: $xl) {
		@include font(45, 60);
	}
	@media (min-width: $xxl) {
		@include font(60, 90);
	}
}
h2 {
	@include font(23, 33);
	@media (min-width: $lg) {
		@include font(26, 36);
	}
	@media (min-width: $xl) {
		@include font(31, 41);
	}
	@media (min-width: $xxl) {
		@include font(35, 45);
		margin-bottom: 44px;
	}
}
p {
	margin: 0 0 16px;
	@media (min-width: $lg) {
		margin-bottom: 30px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
a {
	color: $base-link-color;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include font(14, 19, 600);
	padding: 9px 12px;
	cursor: pointer;
	text-align: center;
	border-radius: 8px;
	border: 1px solid $white;
	font-family: $base-font-sans-serif;
	gap: 5px;
	transition: all 0.25s linear;
	@media (min-width: $xl) {
		padding: 12px 34px;
	}

	&.btn_primary {
		background: $clr-primary;
		color: $white;
		border-color: $clr-primary;
		&:hover {
			border-color: $clr-primary;
			color: $clr-primary;
			background: transparent;
		}
	}
	&.btn_outline {
		background: transparent;
		color: $clr-primary;
		border-color: $clr-primary;
		&:hover {
			background: $clr-primary;
			color: $white;
		}
	}
	&.btn_secondary {
		background: #F4F1F5;
		color: $clr-primary;
		border-color: #F4F1F5;
		&:hover {
			background: $clr-primary;
			color: $white;
		}
	}
}
.d-none {
	display: none;
}
.d-block {
	display: block;
}
.w-100 {
	width: 100% !important;
}

.form_control {
	height: 42px;
	width: 100%;
	display: block;
	border: 1px solid rgba(25, 25, 25, 0.1);
	background: $clr-light;
	border-radius: 10px;
	padding: 10px 15px;
	@include font(14, 20);
	color: $clr-text;
	@include placeholder {
		color: $clr-gray;
	}
	&.form_control_lg {
		@media (min-width: $lg) {
			height: 50px;
			padding: 14px 20px;
		}
		@media (min-width: $xl) {
			height: 60px;
			padding-top: 19px;
			padding-bottom: 19px;
		}
	}
	&:focus {
		outline: none;
		box-shadow: none;
	}
}
