$sm: 576px;
$sm-m: 575px;
$md: 768px;
$md-m: 767px;
$lg: 992px;
$lg-m: 991px;
$xl: 1200px;
$xl-m: 1199px;
$xxl: 1310px;
$xxl-m: 1309px;

$black: #000;
$bg-dark: #1a1b1d;
$white: #fff;
$clr-text: #191919;

$clr-blue: #0d52de;

$clr-gray: rgba($clr-text, 0.5);
$bg-gray: #f5f6f9;
$clr-gray3: #efefef;
$clr-light: #f6f7f8;
$clr-light-gray: #f3f3f3;
$clr-red: #dd3546;

$base-font-sans-serif: var(--font-ibm-plex-sans), "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $clr-text;
$base-background-color: $white;
$font-size-base: 0.875rem;
$line-height-base: 1.5;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

// Liks
$base-link-color: $clr-blue;

$placeholder-color: $clr-gray;

$headings-font-family: inherit !default;
$headings-color: inherit;

$animation-speed: 0.3s;
