@use "../base/variables" as *;
@use "../base/mixins" as *;
html,
body {
  height: 100%;
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  max-width: 100%;
  border-style: none;
  vertical-align: top;
}
div,
nav {
  scrollbar-width: thin;
}
b,
strong {
  font-weight: 700;
}
// h2,
// h1,
// .h1 {
//   //@include font(20, 26, 700);
//   margin: 0 0 10px;
//   font-size: 22px;
//   line-height: 1.4;
//   @media (min-width: 768px) {
//     font-size: 24px;
//   }
// }
h1 {
  color: var(--heading_color);
  font-size: 20px;
  line-height: 25px;
  @media (min-width: 992px) {
    font-size: 23px;
    line-height: 28px;
  }
  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 35px;
  }
}
h2 {
  font-size: 20px;
  line-height: 25px;
  @media (min-width: 992px) {
    font-size: 22px;
    line-height: 27px;
  }
  @media (min-width: 1200px) {
    font-size: 25px;
    line-height: 30px;
  }
}
h3 {
  font-size: 17px;
  line-height: 22px;
  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 25px;
  }
}
h6,
h5,
h4 {
  font-size: 16px;
  line-height: 21px;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--sub_heading_color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--base_font);
  margin: 0 0 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
p {
  margin: 0 0 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.main-layout {
  flex-grow: 1;
}

.badge {
  background: var(--tag_bg);
  color: var(--tag_text_color);
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: var(--radius);
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  transition: all 0.25s linear;
  &:hover {
    background: var(--button_bg);
    color: var(--button_text_color);
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  @media (min-width: $sm) {
    max-width: 540px;
  }
  @media (min-width: $md) {
    max-width: 768px;
  }
  @media (min-width: $lg) {
    max-width: 992px;
  }
  @media (min-width: $xl) {
    max-width: 1200px;
  }
  @media (min-width: $xxl) {
    max-width: 1310px;
  }
}

.heading_wrap {
  text-align: center;
  @include font(16, 22);
  margin-bottom: 30px;
  @media (min-width: $md) {
    @include font(18, 24);
    margin-bottom: 50px;
  }
  @media (min-width: $xl) {
    @include font(20, 28);
    margin-bottom: 70px;
  }

  h1,
  h2 {
    @include font(26, 36, 700);
    margin-bottom: 15px;
    @media (min-width: $md) {
      @include font(36, 45);
    }
    @media (min-width: $xl) {
      @include font(40, 60);
    }
  }
  .text_wrap {
    max-width: 650px;
    margin: auto;
  }
  .btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    @media (min-width: $lg) {
      gap: 10px;
    }
  }
}
.txt_blue {
  color: $clr-blue !important;
}

.globle_intro {
  text-align: center;
  padding-top: 113px;
  max-width: 1262px;
  margin: 0 auto 50px;
  @include font(16, 26);
  @media (min-width: $lg) {
    @include font(20, 30);
  }

  h1,
  .h1 {
    @include font(26, 40, 700);
    margin-bottom: 20px;
    @media (min-width: $md) {
      @include font(35, 50);
      margin-bottom: 43px;
    }
    @media (min-width: $lg) {
      @include font(45, 60);
      margin-bottom: 43px;
    }
    @media (min-width: $xl) {
      @include font(52, 67);
    }
    @media (min-width: $xxl) {
      @include font(60, 80, 700);
    }
  }
  .text_wrp {
    max-width: 888px;
    margin: 0 auto 20px;
    @media (min-width: $md) {
      margin: 0 auto 40px;
    }
  }
  .intr_btns {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    .btn {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.pricing_page {
  .pricing-section {
    padding-top: 150px;
    margin-bottom: 0;
  }
}

.faq_page {
  h1 {
    padding-bottom: 20px !important;
  }
}

// .side_bar {
//   margin-bottom: 50px;

//   // border-left: 1px solid #e7e7e7;
//   flex-shrink: 0;
//   visibility: hidden;
//   opacity: 0;
//   position: relative;
//   transform: translateX(100%);
//   transition: transform 0.5s ease-in-out;
//   width: 0;
//   padding: 0;
//   &:after {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: -50px;
//     bottom: 0;
//     width: 1px;
//     background-color: #e7e7e7;
//   }

//   @media (min-width: $md) {
//     padding-left: 50px;
//     display: block;
//     width: 320px;
//   }
//   @media (min-width: $lg) {
//     width: 385px;
//   }
//   @media (min-width: $xl) {
//     margin-bottom: 189px;
//   }
//   &.open {
//     @media (max-width: $md-m) {
//       width: 320px;
//       visibility: visible;
//       opacity: 1;
//       position: absolute;
//       right: 0;
//       background: #fff;
//       height: 100%;
//       margin-bottom: 0;
//       transform: translateX(0);
//       padding-left: 20px;
//     }
//   }
// }
.aside_scroll {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -50px;
    bottom: 0;
    width: 1px;
    background-color: #e7e7e7;
    opacity: 0;
    visibility: hidden;
    @media (min-width: $md) {
      opacity: 1;
      visibility: visible;
    }
  }
}
.side_bar {
  position: fixed;
  top: 0px;
  right: 0;
  // height: 100%;
  background: #fff;
  width: 280px; // fixed width
  padding-left: 20px;
  padding-top: 50px;
  margin-bottom: 0;
  transform: translateX(100%); // off-screen
  opacity: 0;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.3s ease-in-out;
  z-index: 9999;
  flex-shrink: 0;
  overflow-y: auto;

  @media (min-width: $md) {
    z-index: 999;
    top: -50px;
    position: relative;
    transform: none;
    opacity: 1;
    padding-left: 30px;
  }

  @media (min-width: $lg) {
    width: 320px;
  }

  @media (min-width: $xl) {
    // width: 385px;
    padding-left: 30px;
    // margin-bottom: 189px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -50px;
    bottom: 0;
    width: 1px;
    background-color: #e7e7e7;
  }

  &.open {
    transform: translateX(0); // slide in
    opacity: 1;
    height: 100%;
  }

  .heading_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 22px;
    .ico-close {
      cursor: pointer;
      display: inline-block;
      @media (min-width: $md) {
        display: none;
      }
    }
  }
}

.outside_colse {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: none;
  @media (min-width: $md) {
  }
  &.active {
    display: block;
  }
}

.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
}

.features_page {
  padding-top: 100px;
}

.common_section {
  position: relative;
  // z-index: 1;
  padding: 80px 0 0px;
  @include font(16, 24);
  @media (min-width: $md) {
    @include font(18, 26);
    padding: 100px 0 0px;
  }
  @media (min-width: $xl) {
    padding: 113px 0 0px;
    @include font(20, 28);
  }
  &:before {
    content: "";
    background: #e7e7e7;
    background: linear-gradient(177deg, rgba(231, 231, 231, 1) 0%, rgba(255, 255, 255, 0.51) 60%);
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
  }

  .common_intro {
    padding: 20px 0 20px;
    max-width: 900px;
    margin: 0 auto 0px;
    position: relative;
    // &:after {
    //   content: "";
    //   position: absolute;
    //   background-color: #e7e7e7;
    //   height: 1px;
    //   left: -9999;
    //   right: -9999;
    //   bottom: 0;
    // }

    @media (min-width: $lg) {
      padding: 20px 0 40px;
    }
    // @media (min-width: $xl) {
    //     padding: 60px 0;
    // }

    h1,
    .h1 {
      text-align: center;
      color: #0e0e0f;
      @include font(36, 45);
      margin-bottom: 20px;
      @media (min-width: 768px) {
        @include font(45, 55);
      }
      @media (min-width: $lg) {
        @include font(50, 60);
      }
      @media (min-width: $xl) {
        margin-bottom: 50px;
        @include font(60, 85);
      }
    }
  }
}
