@use "../base/variables" as *;
@use "../base/mixins" as *;
html,
body {
  height: 100%;
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  max-width: 100%;
  border-style: none;
  vertical-align: top;
}
div,
nav {
  scrollbar-width: thin;
}
b,
strong {
  font-weight: 700;
}

h1 {
  color: var(--heading_color);
  font-size: 20px;
  line-height: 25px;
  @media (min-width: 992px) {
    font-size: 23px;
    line-height: 28px;
  }
  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 35px;
  }
}
h2 {
  font-size: 20px;
  line-height: 25px;
  @media (min-width: 992px) {
    font-size: 22px;
    line-height: 27px;
  }
  @media (min-width: 1200px) {
    font-size: 25px;
    line-height: 30px;
  }
}
h3 {
  font-size: 17px;
  line-height: 22px;
  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 25px;
  }
}
h6,
h5,
h4 {
  font-size: 16px;
  line-height: 21px;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--sub_heading_color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--base_font);
  margin: 0 0 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
p {
  margin: 0 0 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.main-layout {
  flex-grow: 1;
  padding: 24px 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  @media (min-width: $sm) {
    max-width: 540px;
  }
  @media (min-width: $md) {
    max-width: 768px;
  }
  @media (min-width: $lg) {
    max-width: 992px;
  }
  @media (min-width: $xl) {
    max-width: 1200px;
  }
  @media (min-width: $xxl) {
    max-width: 1310px;
  }
}
.txt_primary {
  color: $clr-primary;
}
.txt_dark {
  color: $black;
}
.heading {
  @include font(16, 20, 400);
  color: #6b7280;
  margin-bottom: 24px;
  h1,
  .h1 {
    @include font(24, 28, 600);
    color: #111827;
    margin-bottom: 8px;
  }
}
