@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;
.competitors_page{
    .container{
        max-width: 524px;
        width: 100%;
        margin:auto;
    }
    h1,.h1{
        @include font(24,28,600);
        color: $clr-title;
        margin-bottom: 8px;
    }
    .compe_head{
        text-align: center;
        color: #6B7280;
        margin-bottom: 24px;
             @include font(16,20,400);
    }

    .compe_crud_box{
        padding:  20px;
        border-radius: 12px;
        border: 1px solid #E5E7EB;
        background-color: $white;
        margin-bottom: 24px;
        @media(min-width: $md){
            padding: 24px;
            
        }
     
    }

    .product_row{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 19px;
        background: #F4F1F5;
        border-radius: 12px;
        padding: 16px;
        .lft{
            display: flex;
            flex-direction: column;
            gap: 8px;
            .title{
                @include font(14,18,600);
                color: $clr-title;
            }
            .pro_link{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @include font(14,18,400);
                color: #6B7280;
                max-width: 200px;
                width: 100%;
                @media(min-width: 480px){
                    max-width: 250px;
                }
            
                @media(min-width: $sm){
                    max-width: 296px;
                }
            }
        }
        .rgt{
            display: flex;
            gap: 16px;
            .ico{
                cursor: pointer;
                @include font(16,20);
                color: #000;
                &.ico-trash{
                   @include font(20,22);
                    color: #E03131;
                }
            }
        }
    }
    .btn_secondary{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}