@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.tab_list{
    display: flex;
    align-items: center;
    gap: 64px;
    margin:0 0  19px 0;
    @include font(18, 22px , 500);
    list-style: none;
    padding: 0;
    color: #6B7280;
    li{
        cursor: pointer;
        padding: 10px 0;
        &.active{
            color: $clr-primary;
            position: relative;
            &:after{
                content:"";
                position: absolute;
                top: 100%;
                left:0;
                right: 0;
                height: 2px;
                border-radius: 2px; 
                background: $clr-primary;
            };
        }

    }
}



.all_products_card {
    padding: 24px;
    background: $white;
    border-radius: 16px;
    border: 1px solid #e5e7eb;

    .pro_crd_head {
        display: flex;
        justify-content: space-between;
        gap: 45px;
        margin-bottom: 26px;
        .form_control {
            background: #F9F9F9;
        }
        .row_selection {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            background: #f4f1f5;
            border-radius: 10px;
            padding: 9px 8px 9px 16px;
            color: #111827;
            .selection_txt {
                display: flex;
                gap: 8px;
                align-items: center;
                strong {
                    font-weight: 600;
                }
            }
            .btn {
                padding: 5px 19px;
            }
        }
    }
}


