@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.all_products_card {
    padding: 24px;
    background: $white;
    border-radius: 16px;
    border: 1px solid #e5e7eb;

    .pro_crd_head {
        display: flex;
        justify-content: space-between;
        gap: 45px;
        margin-bottom: 26px;
        .row_selection {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            background: #f4f1f5;
            border-radius: 10px;
            padding: 9px 8px 9px 16px;
            color: #111827;
            .selection_txt {
                display: flex;
                gap: 8px;
                align-items: center;
            }
            .btn {
                padding: 5px 19px;
            }
        }
    }
}
