@use "../../scss/base/variables" as *;
@use "../../scss/base/mixins" as *;

.import_crd_wrap {
    max-width: 563px;
    width: 100%;
    margin: 102px auto 0;
    padding: 15px;
    @media (min-width: $sm) {
        padding: 20px;

    }
}

.import_pro_crd {
  background: #fff;
  border: 1px solid #e5e7eb;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 40px 20px 30px;
  @include font(14, 20, 400);
  @media (min-width: 480px) {
      @include font(16, 20, 400);
    gap: 24px;
    padding: 61px 50px;
  }
  .crd_icon {
    width: 140px;
    height: 140px;
    padding: 14px;
    border-radius: 50%;
    background: rgba(52, 199, 89, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-shrink: 0;
    @media (min-width: $sm) {
      width: 163px;
      height: 163px;
    }
    .ico {
      background: #34c759;
      width: 110px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 40px;
      color: #fff;
      @media (min-width: $sm) {
          font-size: 50px;
        width: 135px;
        height: 135px;
      }
    }
  }
  .crd_txt {
  }
  .crd_title {
    @include font(24, 30, 600);
    color: $clr-title;
  }
  .crd_subtitle {
    @include font(16, 20, 500);
    @media (min-width: $sm) {
           @include font(18, 20, 500);

       }
    color: $clr-title;
  }
  p {
    margin-bottom: 0;
  }
  .btn {
    display: inline-block;
  }
}
